body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
root {
  --text0: #222;
  --text1: #ccc;
  --back0: #777;
  --back1: #444;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow-x: hidden;
}

header {
  height: 8rem;
  width: 100vw;
  top: 0;
  margin-left: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #ddd;
  position: relative;
  z-index: 1000;
}

header img {
  height: 100%;
}

section h1 {
  text-align: center;
}

#nav-list-nav {
  list-style: none;
  display: flex;
  margin: 2.5rem auto;
}

#nav-item {
  margin: 0.5rem;
  font-size: 1rem;
}

#nav-item a {
  text-decoration: none;
  color: var(--text0);
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.4rem;
  margin: 0.4rem auto;
}

#content {
  width: 95rem;
  height: 40rem;
  display: flex;
  flex-direction: row;
}

#left,
#middle,
#right,
#photo-view {
  margin: 0.2rem auto;
}

#left,
#middle,
#right {
  height: 40rem;
}

#wide {
  width: 100%;
  background-color: #555;
  height: 25rem;
}

#content #left {
  width: 30rem;
  left: 0px;
  background-color: #00a1;
}

#content #middle {
  display: flex;
  flex-direction: column;
}

#middle,
#photo-view {
  width: 60rem;
  justify-content: center;
  background-color: #444;
}

#photo-view {
  display: none;
  align-items: center;
  gap: 0.9rem;
}

#photo-view #current-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity(0.3) 0.3s ease;
}

#photo-view .nav-btn {
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 2.25rem;
  cursor: pointer;
  transition: #4c6a50 0.3s;
}

#photo-view .nav-btn:hover {
  background: #45a049;
}

#image-container {
  position: relative;
  width: 800px;
  height: 600px;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
}

#photo-view .nav-btn:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

#middle #projects-header {
  width: 100%;
  top: 0;
  text-align: center;
  margin: 0.1rem auto;
}

section#projects {
  margin-top: 0.5rem;
  overflow-y: scroll;
  padding: 0.3rem;
}

.project-item {
  position: relative; /* Needed for absolute positioning of link */
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
  width: 49rem;
  min-height: 12rem;
  background-color: #999;
  color: #000;
  padding: 2rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin: 0.3rem 0;
}

.project-link {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
  margin-top: auto;
}

.project-link a,
.disabled-link {
  padding: 0.15rem 0.35rem;
  background-color: #333;
  border-radius: 0.1rem;
  text-decoration: none;
  color: #fff;
}

.disabled-link {
  cursor: not-allowed;
  opacity: 0.7;
}

/* Update other selectors to use classes instead of IDs */
.project-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem 0 0.25rem 0;
}

.project-stack-list {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  font-size: 1rem;
  margin: 0.25rem 0 1rem 0;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}

.project-stack-list li {
  margin: 0 1rem;
  background: #777;
  padding: 0.08rem 0.4rem;
  border-radius: 0.1rem;
  color: #fff;
}

.project-description {
  margin-bottom: 1.5rem;
  white-space: pre-wrap;
}

#content #right {
  width: 15rem;
  right: 0px;
  background-color: #999;
  overflow-y: scroll;
}

footer {
  background-color: #333;
  color: white;
  padding: 0.3rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
} /* General container styling */

#contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fa {
  padding: 0.7rem;
  font-size: 0.7rem;
  width: 1rem;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-instagram {
  background: #ab2174;
  color: white;
}

.fa-pinterest {
  background: #bd1f0e;
  color: white;
}

.fa-twitter {
  background: #5aabc8;
  color: white;
}

.fa-whatsapp {
  background: #0b9226;
  color: white;
}

.instagram-account {
  margin-bottom: 1rem;
  /* Add more styling as needed */
}

.pinterest-account {
  margin-bottom: 1rem;
  /* Add more styling as needed */
}

.instagram-embed {
  font-size: 2rem;
  color: #e4405f; /* Instagram color */
  /* Add more styling as needed */
}

.pinterest-embed {
  font-size: 2rem;
  color: #bd081c; /* Pinterest color */
  /* Add more styling as needed */
}

.photo-item {
  width: 9rem; /* Adjust the width */
  height: 9rem; /* Adjust the height */
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: end;
  border: #777 solid 0.1rem;
  box-shadow: -1rem 0 2rem #444;
  padding: 0; /* Remove padding */
  margin: 1.5rem;
  background-size: cover; /* Ensure the background covers the whole container */
  background-position: center;
  overflow: hidden; /* Ensure no overflow */
}

.photo-item:hover {
  transform: translateY(-1rem);
  transition: 1s;
}

.photo-item h3 {
  color: aliceblue;
  top: 1rem;
  left: 1rem;
}

/* Title text styling */
.photo-item a {
  position: absolute; /* Position absolute to place in bottom right */
  bottom: 1rem;
  right: 1rem;
  color: var(--text1);
  text-decoration: none;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for readability */
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem; /* Adjust font size if necessary */
  margin: 0; /* Remove margin */
}
