
/* General container styling */
#gallery-item {
    position: relative; /* Make the container position relative */
    width: 10rem; /* Adjust the width */
    height: 10rem; /* Adjust the height */
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #777 solid 0.1rem;
    box-shadow: -1rem 0 2rem #444;
    padding: 0; /* Remove padding */
    margin: 1.5rem;
    background-size: cover; /* Ensure the background covers the whole container */
    background-position: center;
    overflow: hidden; /* Ensure no overflow */
}

#gallery-item:hover {
    transform: translateY(-1rem);
    transition: 1s;
}

#gallery-item img{
    display: none;
}

/* Title text styling */
#gallery-item a {
    position: absolute; /* Position absolute to place in bottom right */
    bottom: 1rem;
    right: 1rem;
    color: var(--text1);
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem; /* Adjust font size if necessary */
    margin: 0; /* Remove margin */
}

.main-posts {
    position: relative;
    z-index: 6;
}

.post-masonry {
    margin-bottom: 30px;
}

.post-masonry .post-thumb {
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
}

.post-masonry .post-thumb img {
    width: 100%;
    display: block;
}

.post-masonry .post-thumb .title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.9);
    padding: 15px 20px;
}

.post-masonry .post-thumb .title-over h4 {
    font-size: 16px;
    font-family: 'robotoregular';
}

.post-masonry .post-thumb .title-over a {
    color: #fff;
}

.post-masonry .post-thumb .post-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.9);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.post-masonry .post-thumb .post-hover .inside {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.post-masonry .post-thumb .post-hover h4 {
    font-size: 16px;
    font-family: 'robotoregular';
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover a {
    color: #fff !important;
}

.post-masonry .post-thumb .post-hover i {
    display: block;
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover p {
    font-size: 12px;
}

.post-masonry .post-thumb .post-hover span {
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
}

.post-masonry .post-thumb:hover .title-over {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    bottom: -50px;
}

.post-masonry .post-thumb:hover .post-hover {
    top: 0;
    visibility: visible;
    opacity: 1;
}
