
/* General container styling */
#gallery-item {
    position: relative; /* Make the container position relative */
    width: 10rem; /* Adjust the width */
    height: 10rem; /* Adjust the height */
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #777 solid 0.1rem;
    box-shadow: -1rem 0 2rem #444;
    padding: 0; /* Remove padding */
    margin: 1.5rem;
    background-size: cover; /* Ensure the background covers the whole container */
    background-position: center;
    overflow: hidden; /* Ensure no overflow */
}

#gallery-item:hover {
    transform: translateY(-1rem);
    transition: 1s;
}

#gallery-item img{
    display: none;
}

/* Title text styling */
#gallery-item a {
    position: absolute; /* Position absolute to place in bottom right */
    bottom: 1rem;
    right: 1rem;
    color: var(--text1);
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem; /* Adjust font size if necessary */
    margin: 0; /* Remove margin */
}

