#collection-cont{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33.3%;
    -moz-column-width: 33.3%;
    column-width: 33.3%;
    padding: 0 12px;
}


#collection{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor:pointer;
    margin-bottom: 12px;
    text-align: center;
    border: #777 solid 0.1rem;
    box-shadow: 0.005rem 0 2rem #444;
    
}

#collection img{
    width: 100%;
}

/*#collection h3{
    position:relative;
    display:grid;
    grid-template-columns: 300px 2fr;
    align-items: center;
    margin:3rem 0 0;

}*/

#collection:hover{
    transform: translateY(-10px);
    transition: 1.5s;
    z-index: 1000;
}

@media screen and (max-width:800px) {
    #collection-cont{
        display: flex;
        flex-direction: row;
        padding: 3rem;
        overflow-x: scroll;
    }
    #collection{
    width: 150px;
    height: 200px;
    min-width: 150px;
    padding:2.5rem;
    }
    #collection:hover{
    transform:translateY(-1rem);
}

#collection:hover~#collection{
    transform:translateX(30px);
}

#collection:not(:first-child){
    margin-left:-30px;
}

#collection img{
    width: 100%;
}

#collection h3{
    position:relative;
    display:grid;
    grid-template-columns: 200px 2fr;
    align-items: center;
    margin:3rem 0 0;

}
}